.about_achievements
{
    margin-top: 3rem;
}
.about_achievements-container
{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;

}
.about_achievements-right
{
    margin: 1.6rem 0 2.5rem;
}
.achievement_cards
{ 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.3rem;
    margin-top: 2rem;
}
.achievement_card
{
    background: var(--color-bg1);
    padding: 1.6rem;
    border-radius: 1rem;
    text-align: center;
    transition: var(--transition);
}

.achievement_card:hover
{
    background: var(--color-bg2);
    box-shadow: 0 3rem 3rem rgba (0, 0, 0, 0.3);
}
.achievement_icon
{
    background: var(--color-danger);
    /* padding: 0.5rem; */
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 2rem;
}
.achievement_card:nth-child(2) .achievement_icon
{
    background: var(--color-success);
}
.achievement_card:nth-child(3) .achievement_icon
{
    background: var(--color-primary);
}
.achievement_card p
{
    margin-top: 1rem;
}
.about_achievements-left img
{
    margin-top: 3rem;
    height: 385px;
    width: 95%;
    background-size: cover;
    border-radius: 5%;
    
}

/* Team */
.team
{
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
    
}
.team_container
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    
}
.team_member
{ 
    background: var(--color-bg2);
    padding: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    border-radius: 5%;
    position: relative;
    overflow: hidden;
}
.team_member:hover
{
    background: transparent;
    border-color: var(--color-primary);
    /* border: 1px solid transparent; */
}
.team_member-image img
{
    filter: saturate(0);
    height: 150px;
}
.team_member:hover img
{
    filter: saturate(1);
}
.team_member *
{
   border-radius: 10%;
   text-align: center;
   margin-top: 0.5rem;   

}
.team_member-info p
{
    color: var(--color-light);
}
.team_member-socials
{
    /* position: absolute; */
    /* top: 32%; */
    /* transform: translateY(-50%); */
    right: -0%;
    /* display: flex; */
    /* flex-direction: column; */
    /* background: var(--color-primary);  */
    /* border-radius: 1rem 0 0 0rem; */
    box-shadow: 1rem 0 4rem rgba(0, 0, 0, 0.5);
    padding: 5px;
    
} 
.team_member:hover.team_member-socials
{
   background: chartreuse;
} 

.team_memeber-socials a
{
    padding-left: 10px;
    padding-right: 7px;
    padding-bottom: 0px;
    padding-top: 0px;
}

